@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {background-color: rgb(252, 239, 182);
color:rgb(54, 23, 1);

font-size: 25px;
font-weight: normal;
Font-family:  "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

a:active {
    color: rgb(158, 95, 22);
}

a:visited {
    color:rgba(28, 118, 192, 0.774);
}

.avatar {
    width: 250px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(70, 209, 52, 0.678);

}

.info {
    display:flex;
    margin-bottom: 55px;
}

@media (max-width:700px){
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}

.info-text h3 {
    margin-bottom: 20px;
}

.info p {
    color:rgb(160, 84, 21);
    margin: 0;
    font-style: italic;
    font-weight:bold; 
    text-decoration:none;
    text-transform: none;
    letter-spacing: 2px;
    word-spacing: 4px;
}

/* Box Model */
.container {
    max-width: 750px;
    margin:auto;
    padding-top: 30px;
}
/* .social { 
    background:rgba(68, 59, 187, 0.123); */

    /* box model - margin->border->padding
    padding: 15px;
    border: 7px solid rgba(123, 186, 245, 0.432);
    margin: 25px;
    border-left-color: rgba(204, 191, 11, 0.336);
    border-right-color: rgba(204, 191, 11, 0.336);
    border-left-width: 15px;
    border-right-width: 15px;
    border-bottom-style:groove;
    border-top-style:groove;
} */

.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ede5ff;
}
.card {
    padding: 15px 20px;
    /* background: rgba(250, 224, 139, 0.726); */
    margin-bottom: 30px;
    border-radius: 40px;
}

.card h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.list {
    padding: 0 20px;
    list-style:circle;
}

.list li {
    color:rgb(52, 201, 44);
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(230, 227, 227);
}

.table {
    width:100%;

}

.table td {
    padding-bottom: 20px;
}

.table td:nth-child(3){
    color:rgb(83, 77, 15)
}

/* .table tr:nth-child(all) {
    background: #443b10;
} */

.link-list {
    list-style:square;
}

.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    /* border-bottom: 2px solid rgb(192, 191, 191); */
}

.contact h2 {
    text-align: center;
}

.form-group label{
    display: block;
    font-size: 30px;
    color:rgb(102, 61, 14)
}

.form-group input,
.form-group textarea {
    width: 50%;
    box-sizing: border-box;
    border: none;
    background:rgba(250, 246, 243, 0.705);
    border-bottom: 2px solid rgb(247, 199, 136);
    padding: 5px 10px 5px 10px;
    outline: none;
}

/* .row {
    display: flex;
    margin-bottom: 10px;
}

.row > .form-group {
    width: 50%
} */

.btn {
    color:#833d21;
    padding: 10px 30px;
    background:#ffffffa8;
    border: none;
    font-family:unset;
    cursor:pointer;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.9;
}

/* Position */
/* 
.position {
    border: 4px solid rgba(255, 153, 0, 0.342);
    margin-top: 10px;
    padding:10px;
    border-radius: 10px;

}

.box {
    position: static; 
    width: 50px;
    height: 50px;
    background:rgb(52, 201, 44);
    border-radius: 10px;
} */

